@model PruebaTecnica.EntidadesDeNegocio.Libros

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Registro</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Otros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Otros)
        </dd>




    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.ActionLink("Ir a modificar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
            <a asp-action="Index" class="btn btn-dark">Cancelar</a>
        </div>
    </div>
</div>
